@using System.Collections;
@using bbs.Models.Post;
@using bbs.Lib;
@{
    var arealist = (ArrayList)ViewData["area"];
    var reply = (ArrayList)ViewData["reply"];
    var nowArea = "";
}
<script src="~/js/markdown.min.js"></script>
<script src="~/editor.md/js/editormd.js"></script>
<link rel="stylesheet" href="~/editor.md/css/editormd.css">
<div class="bread br">
    <a href="/" class="iconfont icon-home" title="首页"></a>
    @for (int i = arealist.Count - 1; i >= 0; i--)
    {
        var key = (AreaModel)arealist[i];
        <i class="iconfont icon-you"></i>
        <a href="~/area/@key.aid" title="@key.name">@key.name</a>
    }
    <i class="iconfont icon-you"></i>
    <a href="~/post/@ViewData["pid"]" title="">@ViewData["title"]</a>
</div>
<div class="theme br">
    <div class="sta">
        <i class="iconfont icon-kan"></i>
        <span title="查看">1000</span>
        <i class="iconfont icon-41"></i>
        <span title="评论">1000</span>
    </div>
    <a href="#" class="theme-title">【@(((AreaModel)arealist[0]).name)】</a>
    <a href="#" class="theme-title">@ViewData["title"]</a>
</div>
<div class="c-list br">
    <div class="comment">
        <div class="u">
            <div class="um">
                <a href="#" class="un box">@ViewData["post_username"]</a>
                <a href="#">
                    <img src="~/images/logo.jpg" alt="" class="avatar box">
                </a>
                <span class="umg">
                    用户组:
                    <a href="#">---</a>
                </span>
            </div>
            <div class="tl">
                <div class="box">
                    <span class="top">主题</span>
                    <span class="number">1</span>
                </div>
                <div class="box">
                    <span class="top">回复</span>
                    <span class="number">1</span>
                </div>
                <div class="box">
                    <span class="top">关注</span>
                    <span class="number">10000</span>
                </div>
            </div>
            <div class="act">
                <a href="#" class="gh btn">去Ta主页</a>
                <a href="#" class="gz btn">关注</a>
                <a href="#" class="sm btn">私信</a>
            </div>
        </div>
        <div class="cnt">
            <div class="top">
                <span class="time">发表时间:2018-2-2 14:21:12</span>
                <a href="#" class="only">只看该作者</a>
                <span class="l">#楼主</span>
            </div>
            <div class="spk">@ViewData["content"]</div>
            <div class="botm">
                <button class="btn hf right">回复</button>
            </div>
        </div>
    </div>
    @foreach(ArrayList data in reply)
    {
        <div class="comment">
            <div class="u">
                <div class="um">
                    <a href="#" class="un box">@data[0]</a>
                    <a href="#">
                        <img src="~/images/logo.jpg" alt="" class="avatar box">
                    </a>
                    <span class="umg">
                        用户组:
                        <a href="#">---</a>
                    </span>
                </div>
                <div class="tl">
                    <div class="box">
                        <span class="top">主题</span>
                        <span class="number">1</span>
                    </div>
                    <div class="box">
                        <span class="top">回复</span>
                        <span class="number">1</span>
                    </div>
                    <div class="box">
                        <span class="top">关注</span>
                        <span class="number">10000</span>
                    </div>
                </div>
                <div class="act">
                    <a href="#" class="gh btn">去Ta主页</a>
                    <a href="#" class="gz btn">关注</a>
                    <a href="#" class="sm btn">私信</a>
                </div>
            </div>
            <div class="cnt">
                <div class="top">
                    <span class="time">发表时间:@Functions.time2date((string)data[3])</span>
                    <a href="#" class="only">只看该作者</a>
                    <span class="l">#</span>
                </div>
                <div class="spk">@data[2]</div>
                <div class="botm">
                    <button class="btn hf right">回复</button>
                </div>
            </div>
        </div>
    }
</div>
<div class="pages">

</div>
<div class="reply">
    <img src="~/images/logo.jpg" class="avatar user-avatar">
    @if ((bool)ViewData["isLogin"])
    {
        <textarea id="editormd" class="reply-box" placeholder="在这里回复"></textarea>
    }
    else
    {
        <pre class="reply-box">请先<a href="@Url.Action("Login","Home")">登录</a>后再回帖</pre>
    }
    <div class="act">
        <button id="post" class="btn ht right">回帖</button>
        <button class="btn ht right">高级回帖</button>
    </div>
</div>

<script>
    $(function () {
        $('.spk').each(function () {
            this.innerHTML = markdown.toHTML(this.innerHTML);
        });
        $('#post').click(function (btn) {
            $(btn).attr('disabled',true);
            $.ajax({
                url: "@Url.Action("Reply")",
                method: "post",
                data: {
                    pid:　@ViewData["pid"],
                    content: $('#editormd').val()
                },
                complete: function () {
                    $(btn).attr('disabled', false);
                }, success: function (obj) {
                    if (obj.code == 0) {
                        location.reload();
                    } else {
                        alert(obj.msg);
                    }
                }
            });
        });
    })
</script>